<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="petdoe.com.br.petdoe">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".activity.OngDetailActivity"
            android:label="@string/title_ong"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="petdoe.com.br.petdoe.DETAIL_ONG" />

            </intent-filter>
        </activity>

        <activity
            android:name=".activity.GoalDetailActivity"
            android:label="@string/title_goal"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="petdoe.com.br.petdoe.DETAIL_GOAL" />

            </intent-filter>
        </activity>

        <activity
            android:name=".activity.DonationActivity"
            android:label="@string/title_donation"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="petdoe.com.br.petdoe.DONATION_ACTIVITY" />

            </intent-filter>
        </activity>
    </application>

</manifest>